body{
  background: rgb(37, 21, 21);
  font-family: 'Courier New', Courier, monospace; 
  color: antiquewhite;
  line-height: 1;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

main {
  flex: 1;
  max-height: 85vh;
}

footer {
  text-align: center;
}

a {
  color: antiquewhite;
}

header {
  margin-top: 2rem;
}
h1, h2 {
  text-align: center;
}

ul {
  width: 25ch;
  margin-left: auto;
  margin-right: auto;
}

article {
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
/*
--------------------
FONT DISPLAY CLASSES
--------------------
*/
.italics {
  font-style: italic;
}

.centered {
  text-align: center;
}
.bold {
  font-weight: bolder;
}


